ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.list {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}
.list__header {
    text-align: center;
}
.list__number-all {
    color: red;
}
.list__number-done {
    color: yellowgreen;
}
.list-item {
    align-items: center;
    display: flex;
    position: relative;
}
.list-item:hover {
    background-color: #fff;
}
.list-item:hover .list-remove {
    opacity: 0.5;
}
.list-item:hover .list-remove:hover {
    opacity: 1;
}
.list-item.list-item--done {
    background-color: yellowgreen;
}
.list-item.list-item--done .list-text {
    text-decoration: line-through;
}
.list-text {
    cursor: pointer;
    flex: 1;
    line-height: 24px;
    padding: 8px 16px;
    word-break: break-all;
}
.list-remove {
    border: 1px solid red;
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    fles-shrink: 0;
    margin-left: auto;
    margin-right: 5px;
    opacity: 0;
    padding: 0 8px;
    transform: rotate(45deg);
    transition: all linear 0.3s;
    width: 32px;
}
.list-remove:before, .list-remove:after {
    content: "";
    background-color: red;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.list-remove:before {
    height: 3px;
    width: 20px;
}
.list-remove:after {
    height: 20px;
    width: 3px;
}
.list__task-new {
    margin-top: 20px;
    border: 1px solid blue;
    line-height: 40px;
    min-height: 40px;
    padding: 0 8px;
    width: 100%;
}
.invalid{
    border: 1px solid red;
}
